
# ========================
# Bot Configuration
# ========================
BOT_TOKEN=7246364869:AAGpuZgkDUt9RjLRNlxtKgObjub-ZbhwuRM
BOT_ADMIN_ACCESS_IDs=[777967425,5374094754]

BOT_WEBHOOK_URL=https://your-webhook-url.com

# WebApp URLs
BOT_WEBAPP_BASE_URL=https://your-webapp-url.com

# Group and Channel IDs
BOT_TASDIQLASH_GROUP_ID=-1002601909491
BOT_TASDIQLANGANLAR_CHANNEL_ID=-1002652989269

BOT_TOLOVLARNI_TASDIQLASH_GROUP_ID=-1003401725458
BOT_TOLOV_TASDIQLANGAN_CHANNEL_ID=-1003160046182

# UZPOST TO'LOVLARNI TASDIQLASH GROUP ID
BOT_UZPOST_TOLOVLARNI_TASDIQLASH_GROUP_ID=-1003549326267

# DELIVERIES REQUEST CHANNEL ID
BOT_UZPOST_DELIVERY_REQUEST_CHANNEL_ID=-1002258694497

BOT_AKB_DELIVERY_REQUEST_CHANNEL_ID=-1002258292882

BOT_YANDEX_DELIVERY_REQUEST_CHANNEL_ID=-1002457205026
BOT_BTS_DELIVERY_REQUEST_CHANNEL_ID=-1002431234972

# BACKUP CHANNEL ID
BOT_DATABASE_BACKUP_CHANNEL_ID=-1003508730009

# Foto Hisobot Channel IDs
BOT_FOTO_HISOBOT_SUCCESS_CHANNEL_ID=-1003298970428
BOT_FOTO_HISOBOT_FAIL_CHANNEL_ID=-1003809257864

# refund channel
BOT_REFUND_CHANNEL_ID=-1003841694377
# debt group
BOT_DEBT_GROUP_ID=-1003745193234

# E-tijorat verification video file ID
BOT_E_TIJORAT_CHANNEL_ID=-1003871828748

# Sklad tasdiq guruhi
BOT_WAREHOUSE_TAKEN_AWAY_PROVE_GROUP_ID=-1003759161888

# Xozarm filialining Telegram guruhi
BOT_AKB_XORAZM_FILIALI_GROUP_ID=-1003401738587

# AKB Ostatka guruhi
BOT_AKB_OSTATKA_GROUP_ID=-1003857423513

# ========================
# Database Configuration
# ========================
POSTGRES_DB=akb_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


# ========================
# Redis Configuration
# ========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TTL=604800


# Google Sheets Configuration
GOOGLE_SHEETS_SHEETS_ID=1OjaDHAEH6fcW-mVJZfu7ayhOH32b2_v0K0OFIhzzzAM
GOOGLE_SHEETS_API_KEY=AIzaSyDyM8utvbA1mrbI7LCvusV89NJJCeU_w50

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_BUCKET_NAME=akb-media
AWS_REGION=eu-north-1

# ========================
# Logging Configuration
# ========================
LOG_LEVEL=DEBUG
LOG_FILE_ENABLED=true
LOG_BACKUP_COUNT=15
LOG_TELEGRAM_ENABLED=true

# ========================
# API & CORS Configuration
# ========================
API_HOST=0.0.0.0
API_PORT=8010

# CORS Origins (comma separated for multiple origins, or use ["*"] for all)
API_CORS_ORIGINS=["*"]
API_CORS_ALLOW_CREDENTIALS=true
API_CORS_ALLOW_METHODS=["*"]
API_CORS_ALLOW_HEADERS=["*"]

# Currency Converter API
API_CURRENCY_API_KEY=https://open.er-api.com/v6/latest/USD


API_JWT_SECRET=e5b8c9f0d1a2b3c4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c
API_JWT_ALGORITHM=HS256
API_JWT_EXPIRE_MINUTES=180

# Chinese Partner API Key
API_CHINA_PARTNER_KEY=9f2c4e8a1d7b3c6f0a5b9d2e4f6a8c1e7d9b3f5a2c4e6f8b1d3a5c7e9f0b2d4

# Agar frontend qilinganda domen aniq bo'lsa buni ochib qo'yamiz (Passkey ishlashi uchun)
API_ADMIN_PANEL_ORIGIN=https://your-admin-panel-domain.com
# ========================
# Environment Mode
# ========================
IMAGE_TAG=latest
