
# ========================
# Bot Configuration
# ========================
BOT_TOKEN=your_bot_token_here
BOT_ADMIN_ACCESS_IDs=[777967425, 5374094754]
# WebApp URLs
BOT_WEBHOOK_URL=https://your-webhook-url.com

# WebApp URLs
BOT_WEBAPP_BASE_URL=https://your-webapp-base-url.com

# Agar frontend qilinganda domen aniq bo'lsa buni ochib qo'yamiz (Passkey ishlashi uchun)
API_ADMIN_PANEL_ORIGIN=https://your-admin-panel-origin.com

# Group and Channel IDs
BOT_TASDIQLASH_GROUP_ID=-1001741641479
BOT_TASDIQLANGANLAR_CHANNEL_ID=-1001877874582

BOT_TOLOVLARNI_TASDIQLASH_GROUP_ID=-1001741641479
BOT_TOLOV_TASDIQLANGAN_CHANNEL_ID=-1001877874582

# UZPOST TO'LOVLARNI TASDIQLASH GROUP ID
BOT_UZPOST_TOLOVLARNI_TASDIQLASH_GROUP_ID=-1001741641479

# DELIVERIES REQUEST CHANNEL ID
BOT_UZPOST_DELIVERY_REQUEST_CHANNEL_ID=-1001877874582

BOT_AKB_DELIVERY_REQUEST_CHANNEL_ID=-1001877874582

BOT_YANDEX_DELIVERY_REQUEST_CHANNEL_ID=-1001877874582
BOT_BTS_DELIVERY_REQUEST_CHANNEL_ID=-1001877874582

# BACKUP CHANNEL ID
BOT_DATABASE_BACKUP_CHANNEL_ID=-1001877874582

# Foto Hisobot Channel IDs
BOT_FOTO_HISOBOT_SUCCESS_CHANNEL_ID=-1001842354153
BOT_FOTO_HISOBOT_FAIL_CHANNEL_ID=-1001842354153

# refund channel
BOT_REFUND_CHANNEL_ID=-1001741641479
# debt group
BOT_DEBT_GROUP_ID=-1001741641479

# E-tijorat verification video file ID
BOT_E_TIJORAT_CHANNEL_ID=-1003871828748

# Sklad tasdiq guruhi
BOT_WAREHOUSE_TAKEN_AWAY_PROVE_GROUP_ID=-1001741641479

# Xozarm filialining Telegram guruhi
BOT_AKB_XORAZM_FILIALI_GROUP_ID=-1001741641479

# Sklad tasdiq guruhi
BOT_WAREHOUSE_TAKEN_AWAY_PROVE_GROUP_ID=-1001741641479

# AKB Ostatka guruhi
BOT_AKB_OSTATKA_GROUP_ID=-1001741641479


# ========================
# Database Configuration
# ========================
POSTGRES_DB=akb_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_DRIVER=postgresql+asyncpg


# ========================
# Redis Configuration
# ========================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TTL=604800


# Google Sheets Configuration
GOOGLE_SHEETS_SHEETS_ID=your_google_sheets_id_here
GOOGLE_SHEETS_API_KEY=your_google_sheets_api_key_here

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_BUCKET_NAME=akb-media
AWS_REGION=us-east-1

# ========================
# Logging Configuration
# ========================
LOG_LEVEL=DEBUG
LOG_FILE_ENABLED=true
LOG_BACKUP_COUNT=15
LOG_TELEGRAM_ENABLED=true

# ========================
# API & CORS Configuration
# ========================
API_HOST=0.0.0.0
API_PORT=8010

# CORS Origins (comma separated for multiple origins, or use ["*"] for all)
API_CORS_ORIGINS=["*"]
API_CORS_ALLOW_CREDENTIALS=true
API_CORS_ALLOW_METHODS=["*"]
API_CORS_ALLOW_HEADERS=["*"]

# Currency Converter API
API_CURRENCY_API_KEY=https://open.er-api.com/v6/latest/USD


API_JWT_SECRET=your_jwt_secret_here
API_JWT_ALGORITHM=HS256
API_JWT_EXPIRE_MINUTES=480

# Chinese Partner API Key
API_CHINA_PARTNER_KEY=your_chinese_partner_api_key_here

# ========================
# Environment Mode
# ========================
IMAGE_TAG=latest
